@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #ECD6EB;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 15px;
}

header nav ul li a.active {
    background: #C00DB9;
    border-radius: 20px;
    color: black;
}

header nav ul li .search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #FFCCFD;
    padding: 5px;
}

header nav ul li .search-box input {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #FFCCFD;
}

header nav ul li .search-box button {
    border: none;
    background: transparent;
    padding: 0 10px;
    cursor: pointer;
}


.photo {
    text-align: center;
    margin-bottom: 70px;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
    color: black;
}

.carousel {
    width: 95%;
    height: 510px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel img {
    width: 100%;
    height: 100%;
    display: block;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    background-color: #b218b8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    margin-bottom: 50px;
}

.category {
    background-color: #C00DB9;
    color: white;
    padding: 15px;
    font-size: 24px;
    border-radius: 35px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.movies {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.movie {
    text-align: center;
    margin-bottom: 40px;
}

.movie img {
    width: 150px;
    height: 220px;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* decalage pour les 2 photos */
.movie:nth-child(odd) {
    transform: translateY(50px); /* degalage images vers le bas */
}

.movie p {
    background-color: #330031;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pagination {
    margin-bottom: 40px;
    margin-top: 20px;
}

.page {
    color: black;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.page.active {
    background-color: #C00DB9;
}

/* Styles du footer */
footer {
    background-color: #330031;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #e0e0e0;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-bottom {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.8;
}

.company-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.link-column {
    margin: 0 20px;
}

.link-column p {
    margin: 5px 0;
}